{% extends "base.html" %}

{% block title %}Profile - WebAnalyst{% endblock %}

{% block content %}
<section class="profile-section">
    <h2>User Profile</h2>
    <form id="profileForm" method="POST" action="/update-profile" enctype="multipart/form-data">
        <!-- Имя пользователя -->
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" id="username" name="username" value="{{ user_name }}" required>
        </div>

        <!-- Аватар пользователя -->
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" name="avatar">
            <img src="{{ url_for('static', filename='avatars/' + user_avatar) }}" alt="Current Avatar" class="profile-avatar">
        </div>

        <!-- Bio пользователя -->
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea id="bio" name="bio" rows="4" placeholder="Tell us about yourself...">{{ user_bio }}</textarea>
        </div>

        <!-- Страна пользователя -->
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" value="{{ user_country }}" placeholder="Your country">
        </div>

        <!-- LinkedIn пользователя -->
        <div class="form-group">
            <label for="linkedin">LinkedIn</label>
            <input type="url" id="linkedin" name="linkedin" value="{{ user_linkedin }}" placeholder="LinkedIn">
        </div>

        <!-- Кнопка для сохранения изменений -->
        <button type="submit" class="action-button">Save Changes</button>
    </form>
</section>

<script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style-profile.css') }}">
{% endblock %}
